# Ignore everything
*

# Allow active CPS only
!.gitignore
!.cursorrules

!app/
!app/**

!docs/
!docs/**

# keep SQLite for now
!app/mock_data.db
# Force ignore Python cache
**/__pycache__/
**/__pycache__/**
*.pyc
*.pyo